/* horizontal.css begin */
#horizontal1 {
	background: url("../_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 73829372) */
}
#horizontal2 {
	background-image: url("../_img/animals/animals-bird_m.png");/* borschik.task(sprite, 47081098) */
	background-position: 0px 0px;
}
#horizontal3 {
	background-image: url("../_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 97402935) */
	background-position: 0 0;
}

/* horizontal.css end */
/* vertical.css begin */
#vertical1 {
	background: url("../_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 92906799) */
}
#vertical2 {
	background-image: url("../_img/animals/animals-bird_m.png");/* borschik.task(sprite, 26586342) */
	background-position: 0px 0px;
}
#vertical3 {
	background-image: url("../_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 25303751) */
	background-position: 0 0;
}

/* vertical.css end */
/* diagonal.css begin */
#diagonal1 {
	background: url("../_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 73515225) */
}
#diagonal2 {
	background-image: url("../_img/animals/animals-bird_m.png");/* borschik.task(sprite, 35446799) */
	background-position: 0px 0px;
}
#diagonal3 {
	background-image: url("../_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 92898672) */
	background-position: 0 0;
}

/* diagonal.css end */
/* smart.css begin */
#b64 {
	background: url("../_img/blocks/64.gif");/* borschik.task(sprite, 62510912) */
}
#b64_fiol {
	background: url("../_img/blocks/64_fiol.gif");/* borschik.task(sprite, 34987618) */
}
#b64_purple {
	background: url("../_img/blocks/64_purple.gif");/* borschik.task(sprite, 12309613) */
}
#b64_orange {
	background-image: url("../_img/blocks/64_orange.gif");/* borschik.task(sprite, 97454553) */
}
#b64_red {
	background-image: url("../_img/blocks/64_red.gif");/* borschik.task(sprite, 74358848) */
}
#b360x65 {
	background-image: url("../_img/blocks/360x65.gif");/* borschik.task(sprite, 53534806) */
}
#b64x256 {
	background-image: url("../_img/blocks/64x256.gif");/* borschik.task(sprite, 22827769) */
}
#b140x100 {
	background-image: url("../_img/blocks/140x100.gif");/* borschik.task(sprite, 52887647) */
}
#b200x100 {
	background-image: url("../_img/blocks/200x100.gif");/* borschik.task(sprite, 18902723) */
}
#b200x100_333 {
	background-image: url("../_img/blocks/200x100_333.gif");/* borschik.task(sprite, 60059078) */
}
#b200x100_666 {
	background-image: url("../_img/blocks/200x100_666.gif");/* borschik.task(sprite, 82009837) */
}
#b200x100_999 {
	background-image: url("../_img/blocks/200x100_999.gif");/* borschik.task(sprite, 74108506) */
}
#b350x150 {
	background-image: url("../_img/blocks/350x150.gif");/* borschik.task(sprite, 55145381) */
}
#b200x200_000000 {
	background-image: url("../_img/blocks/200x200_000000.gif");/* borschik.task(sprite, 53123274) */
}

/* smart.css end */
/* staff.css begin */
#an9eldust {
	background: url("../_img/staff/an9eldust.jpeg");/* borschik.task(sprite, 59014974) */
}
#asterx {
	background: url("../_img/staff/asterx.jpeg");/* borschik.task(sprite, 51692358) */
}
#binarycat {
	background: url("../_img/staff/binaryCat.jpeg");/* borschik.task(sprite, 30105403) */
}
#chernenko {
	background-image: url("../_img/staff/chernenko.jpeg");/* borschik.task(sprite, 28648634) */
}
#cleric {
	background-image: url("../_img/staff/cleric.jpeg");/* borschik.task(sprite, 79006627) */
}
#cyberskunk {
	background-image: url("../_img/staff/cyberskunk.jpeg");/* borschik.task(sprite, 80315928) */
}
#ezhkov {
	background-image: url("../_img/staff/ezhkov.jpeg");/* borschik.task(sprite, 72655473) */
}
#flack {
	background-image: url("../_img/staff/flack.jpeg");/* borschik.task(sprite, 90218169) */
}
#kaero {
	background-image: url("../_img/staff/kaero.jpeg");/* borschik.task(sprite, 03734200) */
}
#miripiruni {
	background-image: url("../_img/staff/miripiruni.jpeg");/* borschik.task(sprite, 37896811) */
}
#orion {
	background-image: url("../_img/staff/orion.jpeg");/* borschik.task(sprite, 15866975) */
}
#st_lucas {
	background-image: url("../_img/staff/st-lucas.jpeg");/* borschik.task(sprite, 97398779) */
}
#vindm {
	background-image: url("../_img/staff/vindm.jpeg");/* borschik.task(sprite, 96414107) */
}
#wayne {
	background-image: url("../_img/staff/wayne.jpeg");/* borschik.task(sprite, 87866780) */
}
#xxxxxx {
	background-image: url("../_img/staff/xxxxxx.jpeg");/* borschik.task(sprite, 40886717) */
}

/* staff.css end */
