#an9eldust {
    background: url(../_img/staff/an9eldust.jpeg); /* borschik.sprite(staff, 10) */
}

#asterx {
    background: url(../_img/staff/asterx.jpeg); /* borschik.sprite(staff, 10) */
}

#binarycat {
    background: url(../_img/staff/binaryCat.jpeg); /* borschik.sprite(staff, 10) */
}

#chernenko {
    background-image: url('../_img/staff/chernenko.jpeg'); /*borschik.sprite(staff, 10)*/
}

#cleric {
    background-image: url(../_img/staff/cleric.jpeg); /*borschik.sprite(staff, 10)*/
}

#cyberskunk {
    background-image: url(../_img/staff/cyberskunk.jpeg); /* borschik.sprite(staff, 10) */
}

#ezhkov {
    background-image: url(../_img/staff/ezhkov.jpeg); /*borschik.sprite(staff, 10)*/
}

#flack {
    background-image: url(../_img/staff/flack.jpeg); /*borschik.sprite(staff, 10)*/
}

#kaero {
    background-image: url(../_img/staff/kaero.jpeg); /*borschik.sprite(staff, 10)*/
}

#miripiruni {
    background-image: url(../_img/staff/miripiruni.jpeg); /*borschik.sprite(staff, 10)*/
}

#orion {
    background-image: url(../_img/staff/orion.jpeg); /*borschik.sprite(staff, 10)*/
}

#st_lucas {
    background-image: url(../_img/staff/st-lucas.jpeg); /*borschik.sprite(staff, 10)*/
}

#vindm {
    background-image: url(../_img/staff/vindm.jpeg); /*borschik.sprite(staff, 10)*/
}

#wayne {
    background-image: url(../_img/staff/wayne.jpeg); /*borschik.sprite(staff, 10)*/
}

#xxxxxx {
    background-image: url(../_img/staff/xxxxxx.jpeg); /*borschik.sprite(staff, 10)*/
}
