#diagonal1 {
    background: url(../_img/animals/animals-bumble_bee_sm.png); /*borschik.sprite(diag)*/
}

#diagonal2 {
    background-image: url(../_img/animals/animals-bird_m.png); /*borschik.sprite(diag)*/
    background-position: 0px 0px;
}

#diagonal3 {
    background-image: url('../_img/animals/animals-ladybug_sm.png'); /*borschik.sprite(diag)*/
    background-position: 0 0;
}
