#horizontal1 {
    background: url(../_img/animals/animals-bumble_bee_sm.png); /*borschik.sprite(horiz)*/
}

#horizontal2 {
    background-image: url(../_img/animals/animals-bird_m.png); /*borschik.sprite(horiz)*/
    background-position: 0px 0px;
}

#horizontal3 {
    background-image: url('../_img/animals/animals-ladybug_sm.png'); /*borschik.sprite(horiz)*/
    background-position: 0 0;
}
