#vertical1 {
    background: url(../_img/animals/animals-bumble_bee_sm.png); /* borschik.sprite(vert) */
}

#vertical2 {
    background-image: url(../_img/animals/animals-bird_m.png); /*borschik.sprite(vert)*/
    background-position: 0px 0px;
}

#vertical3 {
    background-image: url('../_img/animals/animals-ladybug_sm.png'); /*borschik.sprite(vert)*/
    background-position: 0 0;
}
