/*@import "without-config/a.css";*/
/*@import "with-config/a.css";*/
/*@import "with-sub-configs/a.css";*/
/* layout/a.css begin */
/* horizontal.css begin */
#horizontal1 {
	background: url("_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 16709531) */
}
#horizontal2 {
	background-image: url("_img/animals/animals-bird_m.png");/* borschik.task(sprite, 41711122) */
	background-position: 0px 0px;
}
#horizontal3 {
	background-image: url("_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 25016122) */
	background-position: 0 0;
}

/* horizontal.css end */
/* vertical.css begin */
#vertical1 {
	background: url("_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 80681258) */
}
#vertical2 {
	background-image: url("_img/animals/animals-bird_m.png");/* borschik.task(sprite, 79317869) */
	background-position: 0px 0px;
}
#vertical3 {
	background-image: url("_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 95678664) */
	background-position: 0 0;
}

/* vertical.css end */
/* diagonal.css begin */
#diagonal1 {
	background: url("_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 33286553) */
}
#diagonal2 {
	background-image: url("_img/animals/animals-bird_m.png");/* borschik.task(sprite, 51870554) */
	background-position: 0px 0px;
}
#diagonal3 {
	background-image: url("_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 39483134) */
	background-position: 0 0;
}

/* diagonal.css end */
/* smart.css begin */
#smart1 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -512px -192px;
}
#smart2 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -512px -256px;
}
#smart3 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -512px 0;
}
#smart4 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -512px -128px;
}
#smart5 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: 512px 0;
}
#smart7 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -256px -256px;
}
#smart8 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: -256px 0;
}
#smart9 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
#smart10 {
	background-image: url("sprited/smart.png");
	background-repeat: no-repeat;
	background-position: 0 -256px;
}

/* smart.css end */

/* layout/a.css end */
/*@import "padding/a.css";*/
