a1 {
	background-image: url("../_sprited/common_a.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
a2 {
	background-image: url("../_sprited/common_a.png");
	background-repeat: no-repeat;
	background-position: -256px 0;
}

/* sub/sub.css begin */
sub {
	background-image: url("../_sprited/common_a.png");
	background-repeat: no-repeat;
	background-position: 0 -256px;
}

/* sub/sub.css end */
