b1 {
	background-image: url("../../../tests/_img/animals/animals-whale.png");/* borschik.task(sprite, 94555490) */
}
b2 {
	background-image: url("../../../tests/_img/animals/animals-bird_m.png");/* borschik.task(sprite, 78031382) */
}
b3 {
	background-image: url("../../../tests/_img/animals/animals-goat.png");/* borschik.task(sprite, 74131553) */
}
b4 {
	background-image: url("../../../tests/_img/animals/animals-bumble_bee_sm.png");/* borschik.task(sprite, 43906535) */
}


/* ../a/sub.css begin */
sub {
	background-image: url("../../../tests/_img/animals/animals-scarabe.png");/* borschik.task(sprite, 41705222) */
}

/* ../a/sub.css end */
