c1 {
    background-image: url('../../_img/animals/animals-whale.png'); /* borschik.sprite() */
}

c2 {
    background-image: url('../../_img/animals/animals-bird_m.png'); /* borschik.sprite() */
}

c3 {
    background-image: url('../../_img/animals/animals-goat.png'); /* borschik.sprite() */
}

c5 {
    background-image: url('../../_img/animals/animals-ladybug_sm.png'); /* borschik.sprite() */
}

c6 {
    background-image: url('../../_img/animals/animals-elk.png'); /* borschik.sprite() */
}
