b1 {
    background-image: url('../../_img/animals/animals-whale.png'); /* borschik.sprite() */
}

b2 {
    background-image: url('../../_img/animals/animals-bird_m.png'); /* borschik.sprite() */
}

b3 {
    background-image: url('../../_img/animals/animals-goat.png'); /* borschik.sprite() */
}

b5 {
    background-image: url('../../_img/animals/animals-ladybug_sm.png'); /* borschik.sprite() */
}

b6 {
    background-image: url('../../_img/animals/animals-elk.png'); /* borschik.sprite() */
}


@import '../a/sub.css';
