a1 {
	background-image: url("../../../tests/_img/animals/animals-beaver.png");/* borschik.task(sprite, 58182407) */
}
a2 {
	background-image: url("../../../tests/_img/animals/animals-elephant.png");/* borschik.task(sprite, 70237639) */
}
a3 {
	background-image: url("../../../tests/_img/animals/animals-gaur_sm.png");/* borschik.task(sprite, 22996979) */
}
a4 {
	background-image: url("../../../tests/_img/animals/animals-bird_m.png");/* borschik.task(sprite, 25167763) */
}

/* sub.css begin */
sub {
	background-image: url("../../../tests/_img/animals/animals-scarabe.png");/* borschik.task(sprite, 12482899) */
}

/* sub.css end */
