b1 {
	background-image: url("../../../tests/_img/animals/animals-whale.png");/* borschik.task(sprite, 17736777) */
}
b2 {
	background-image: url("../../../tests/_img/animals/animals-bird_m.png");/* borschik.task(sprite, 24552184) */
}
b3 {
	background-image: url("../../../tests/_img/animals/animals-goat.png");/* borschik.task(sprite, 77069745) */
}
b5 {
	background-image: url("../../../tests/_img/animals/animals-ladybug_sm.png");/* borschik.task(sprite, 35542994) */
}
b6 {
	background-image: url("../../../tests/_img/animals/animals-elk.png");/* borschik.task(sprite, 92524153) */
}


/* ../a/sub.css begin */
sub {
	background-image: url("../../../tests/_img/animals/animals-scarabe.png");/* borschik.task(sprite, 38312530) */
}

/* ../a/sub.css end */
